@model IEnumerable<aspnetfirst.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-light">Index</h2>

<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoachId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Players.FirstOrDefault().PlayerName)
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.TeamId">Edit</a> 
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.TeamId">Details</a> 
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>
            </td> 
        </tr>
}
    </tbody>
</table>
<a class="btn btn-outline-light" asp-action="Create">Создать команду</a>