@model IEnumerable<aspnetfirst.Models.Coach>

@{
    ViewData["Title"] = "Index";
}

<h2>Тренеры</h2>


<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoachName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamId)
            </td>
            <td>
                <a class="btn-btn-outline-primary" asp-action="Edit" asp-route-id="@item.CoachId">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CoachId">Details</a>
            </td>
            <td>
            <a asp-action="Delete" asp-route-id="@item.CoachId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-outline-light" asp-action="Create">Create New</a>
</p>
