@model IEnumerable<aspnetfirst.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-light">Текущие матчи</h2>

<table class="table text-light">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Team_home)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Team_guest)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ScoreStatistic)
            </th>
            <th scope="col">

            </th>
            <th scope="col">

            </th>
            <th scope="col">

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team_home.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team_guest.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreStatistic.Score)
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@item.MatchId">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@item.MatchId">Details</a>
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
<a class="btn btn-outline-light" asp-action="Create">Create New</a>