@model IEnumerable<aspnetfirst.Models.User>

@{
    ViewData["Title"] = "Users";
}

@{
    if (TempData["TempStatus"] != null)
    {
        <h3 class="text-light">Info: @TempData["TempStatus"]</h3>
    }

}

<h3 class="text-light">Пользователи</h3>


<table class="table text-light">
    <thead>
        <tr>
            <th scope="col">Name_of_person</th>
            <th>Points</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var Item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => Item.UserName)</td>
            <td>@Html.DisplayFor(model => Item.Points)</td>
            <td>
                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@Item.Id">Edit</a> 
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Details" asp-route-id="@Item.Id">Details</a> 
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@Item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-outline-light" asp-action="Create" asp-controller="Users">Создать нового пользвателя</a>
</p>




<ul id="messagesList" class="text-light">

</ul>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Log.js"></script>