@model IEnumerable<aspnetfirst.Models.UserMatch>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserMatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.Team_home.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.Team_guest.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match.MatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserMatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Team_home.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.Team_guest.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { user_id = item.UserId, match_id = item.MatchId })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { user_id = item.UserId, match_id = item.MatchId })
            </td>
            <td>
            @Html.ActionLink("Delete", "Delete", new { user_id = item.UserId, match_id = item.MatchId })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>